:root{
    --color1: #EEC643;
    --color2: #141414;
    --color3: #EEF0F2;
    --color4: #0D21A1;
    --color5: #E01A4F;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--color5);
}
body{
    background-color: var(--color3);
    color: var(--color2);
    
}
#foto{
    border-radius: 50%;
    overflow: hidden;
    height: 400px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
header{
    display: flex;
    justify-content:space-between;
    
}
.imagens{
    margin-right: 10px;
    
}
li{
    list-style-type: none;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
main{
    margin-left: 20px;
    
}
nav{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Navegacao{
    margin-left: 10px;
}
p{
    color: #0D21A1;
    text-align: center;
}
.paginas{
    list-style-type: none;
    
}
#pag-nav{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
}
#redes{
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}
.exp, .projetos, .idiomas, .redes, .contato{
    margin-top: 10px;
    margin-bottom: 10px;
}
.centro{
    text-align: center;
}
.center{
    margin-right: auto;
    margin-left: auto;
}
.contato{
    display: flex;
    flex-direction: column;
}
input{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid var(--color1);
}
#msg{
    height: 50px;
}
#foto{
    text-align: left;
}
h2{
    text-align: center;
}
#ft{
    width: 100%;
}
.box{
    border: 2px solid var(--color1);
    padding: 20px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.idiomas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paginas{
    margin-right: 10px;
}
#Sobre{
    text-align: center;
}
.idioma{
    width: 500px;
}
.nav{
    width: 350px;
}
img{
    height: 50px;
    width: 50px;
}
#redes{
    margin-left: 40%;
}
.logo{
    width: 180px;
    height: 50px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #foto{
        border-radius: 50%;
        overflow: hidden;
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    li{
        list-style-type: none;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    input{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid var(--color1);
    }
    #msg{
        height: 50px;
    }
    .box{
        border: 2px solid var(--color1);
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .idioma{
        width: 500px;
    }
    .nav{
        width: 350px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    #redes{
        margin-left: 40%;
    }
    .logo{
        width: 180px;
        height: 50px;
    }


}
    

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    #foto{
        border-radius: 50%;
        overflow: hidden;
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    li{
        list-style-type: none;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    input{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid var(--color1);
    }
    #msg{
        height: 50px;
    }
    .box{
        border: 2px solid var(--color1);
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .idioma{
        width: 500px;
    }
    .nav{
        width: 350px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    #redes{
        margin-left: 40%;
    }
    .logo{
        width: 180px;
        height: 50px;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    #foto{
        border-radius: 50%;
        overflow: hidden;
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    li{
        list-style-type: none;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    input{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid var(--color1);
    }
    #msg{
        height: 50px;
    }
    .box{
        border: 2px solid var(--color1);
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .idioma{
        width: 500px;
    }
    .nav{
        width: 350px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    #redes{
        margin-left: 40%;
    }
    .logo{
        width: 180px;
        height: 50px;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #foto{
        border-radius: 50%;
        overflow: hidden;
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    li{
        list-style-type: none;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    input{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid var(--color1);
    }
    #msg{
        height: 50px;
    }
    .box{
        border: 2px solid var(--color1);
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .idioma{
        width: 500px;
    }
    .nav{
        width: 350px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    #redes{
        margin-left: 40%;
    }
    .logo{
        width: 180px;
        height: 50px;
    }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #foto{
        border-radius: 50%;
        overflow: hidden;
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    li{
        list-style-type: none;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    input{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid var(--color1);
    }
    #msg{
        height: 50px;
    }
    .box{
        border: 2px solid var(--color1);
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .idioma{
        width: 500px;
    }
    .nav{
        width: 350px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    #redes{
        margin-left: 40%;
    }
    .logo{
        width: 180px;
        height: 50px;
    }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #foto{
        border-radius: 50%;
        overflow: hidden;
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    li{
        list-style-type: none;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    input{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid var(--color1);
    }
    #msg{
        height: 50px;
    }
    .box{
        border: 2px solid var(--color1);
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .idioma{
        width: 500px;
    }
    .nav{
        width: 350px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    #redes{
        margin-left: 40%;
    }
    .logo{
        width: 180px;
        height: 50px;
    }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    #foto{
        border-radius: 50%;
        overflow: hidden;
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    li{
        list-style-type: none;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    input{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid var(--color1);
    }
    #msg{
        height: 50px;
    }
    .box{
        border: 2px solid var(--color1);
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .idioma{
        width: 500px;
    }
    .nav{
        width: 350px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    #redes{
        margin-left: 40%;
    }
    .logo{
        width: 180px;
        height: 50px;
    }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    #foto{
        border-radius: 50%;
        overflow: hidden;
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    li{
        list-style-type: none;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    input{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid var(--color1);
    }
    #msg{
        height: 50px;
    }
    .box{
        border: 2px solid var(--color1);
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .idioma{
        width: 500px;
    }
    .nav{
        width: 350px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    #redes{
        margin-left: 40%;
    }
    .logo{
        width: 180px;
        height: 50px;
    }

}
